.gallery {
	display: flex;
	width: 100%;
	flex-direction: row;
	align-items: center;
	text-align: center;
	flex-wrap: wrap;
	font-family: Oswald;
	flex: 1;
	justify-content: center;
}

.gallery__item {
	flex: 2;
	width: 270px;
	height: 100%;
	overflow: hidden;
	position: relative;
	transition: all .4s;
}

.gallery__img1,
.gallery__img7,
.gallery__img6,
.gallery__img5 {
	width: 600px;
}


.gallery__item img {
	position: absolute;
	filter: grayscale(100%);
	height: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-47%, -50%);
}

.gallery__item:hover {
	flex: 5;
}

.upper_wrapper {
	min-height: 15%;
	width: 100%;
	/* flex: 1; */
	background-color: rgb(29, 99, 179);
	display: flex;
	flex-direction: row;
	font-size: 40px;
}

.btn {
	flex: 1;
	text-align: center;
	color: white;
	align-items: center;
	font-size: 35px;
	display: flex;
	justify-content: center;
}

.btn a {
	border: 2px solid white;
	color: white;
	padding: 3px;
	padding-bottom: 5px;
	border-radius: 50%;
	text-decoration: none;
}

.hidden__name {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 60px;
	color: white;
	background-color: rgb(29, 99, 179);
	font-family: Oswald;
	letter-spacing: 4px;
	flex: 10;
}

.hidden__wrapper {
	min-height: 15%;
	width: 100%;
	display: flex;
	font-family: Oswald;
	text-align: justify;
	align-items: center;
	color: white;
	font-size: 20px;
	background-color: rgb(29, 99, 179);
	/* flex: 2; */
	overflow: hidden;
}

.hidden__des {
	margin: 0px 40px 0px 40px;
}

@media (max-width: 1400px) {
	.gallery__item:hover {
		flex: 10;
	}
}

@media (max-width: 1200px) {
	.gallery__item:hover {
		flex: 15;
	}
}

@media (max-width: 1000px) {
	.gallery__item:hover {
		flex: 20;
	}

	.gallery__item {
		flex: 2;
		width: 300px;
		overflow: hidden;
		position: relative;
		transition: all .4s;
	}

	.hidden__name {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		font-size: 40px;
		color: white;
		background-color: rgb(29, 99, 179);
		font-family: Oswald;
		letter-spacing: 4px;
		flex: 1;
	}

	.hidden__wrapper {
		width: 100%;
		display: flex;
		font-family: Oswald;
		text-align: justify;
		align-items: center;
		color: white;
		font-size: 16px;
		background-color: rgb(29, 99, 179);
		/* flex: 2; */
	}
}

@media (max-width: 600px) {

	.upper_wrapper {
		width: 100%;
		/* flex: 1; */
		background-color: rgb(29, 99, 179);
		display: flex;
		flex-direction: column;
	}

	.btn {
		flex: 1;
		text-align: center;
		color: white;
		align-items: center;
		font-size: 30px;
		display: flex;
		justify-content: center;
	}

	.hidden__name {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		font-size: 60px;
		color: white;
		background-color: rgb(29, 99, 179);
		font-family: Oswald;
		letter-spacing: 4px;
		flex: 10;
	}


	.hidden__name {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		font-size: 30px;
		color: white;
		background-color: rgb(29, 99, 179);
		font-family: Oswald;
		letter-spacing: 4px;
		flex: 1;

	}

	.gallery__item:nth-child(2) img {
		transform: translate(-45%, -20%);
	}

	.gallery__item:nth-child(1) img {
		transform: translate(-45%, -40%);
	}

	.gallery {
		flex-direction: column;
	}

	.gallery__item img {
		position: absolute;
		height: 950px;
		top: 50%;
		left: 50%;
		transform: translate(-55%, -25%);
	}

	.gallery__item:hover {
		flex: 20;
	}

	.gallery__item {
		width: 100%;
	}

	.hidden__wrapper {
		width: 100%;
		display: flex;
		font-family: Oswald;
		text-align: justify;
		align-items: center;
		color: white;
		font-size: 13px;
		background-color: rgb(29, 99, 179);
		/* flex: 1; */
	}

	.gallery {
		display: flex;
		width: 100%;
		flex-direction: column;
		align-items: center;
		text-align: center;
		flex-wrap: wrap;
		font-family: Oswald;
		flex: 3;
		justify-content: center;
	}

	.hidden__des {
		margin: 0px 40px 0px 40px;
	}
}